
notes/analisededados.txt
notes/python.txt
notes/sql.txt
notes/tensorflow.txt
projetos/jupyter.bat
projetos/jupyter.bat.txt
Projetos/titanic/analise.ipynb
Projetos/titanic/analise.ipynb
Projetos/titanic/.ipynb_checkpoints/analise-checkpoint.ipynb
